<!-- <ion-view title="Share">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
 -->
<!-- <ion-content padding="true" class="partner has-header"> -->
<!-- <div class="row">
        <div class="col">
            Share your report
            <link>
        </div>
    </div> -->
<div class="row social-icons">
    <div class="col fb" ng-click="sharePopup.close('facebook')"><i class="ion-social-facebook"></i>
    </div>
    <div class="col twitter" ng-click="sharePopup.close('twitter')"><i class="ion-social-twitter"></i>
    </div>
    <div class="col gplus" ng-click="sharePopup.close('other')"><i class="ion-more"></i>
    </div>
</div>

<div class="row">
    <div class="col centered">
        <button ng-click="sharePopup.close('skip')" class="button button-block button-outline button-energized ">Skip</button>
    </div>
</div>
<!-- </ion-content> -->
<!-- </ion-view> -->
