<ion-view title="Share">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="partner has-header">
        <div class="row">
            <div class="col">
                Share your report
                <link>
            </div>
        </div>
        <div class="row social-icons">
            <div class="col fb"><i class="ion-social-facebook"></i>
            </div>
            <div class="col twitter"><i class="ion-social-twitter"></i>
            </div>
            <div class="col gplus"><i class="ion-social-googleplus"></i>
            </div>
        </div>
        <div class="row">
            <div class="col centered">
                <button class="button button-energized">Share</button>
            </div>
            <div class="col centered">
                <button class="button button-outline button-energized">Skip</button>
            </div>
        </div>
    </ion-content>
</ion-view>
