<ion-view title="Share Quick Report">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <label class="item item-input item-dark item-stacked-label">
                <i class="icon fa fa-newspaper-o"></i>
                <span class="input-label">Report title</span>
                <input type="text" placeholder="auto: Quick Report" ng-model="report.title">
            </label>
            <label class="item item-input item-dark  item-stacked-label">
                <i class="icon fa fa-clock-o"></i>
                <span class="input-label">Date and time</span>
                <input type="datetime-local" ng-model="report.date">
            </label>
            <label class="item item-input item-dark item-stacked-label" ng-click="showLocationSheet()">
                <i class="icon fa fa-map-marker"></i>
                <span class="input-label">Location</span>
                <div ng-if="!report.location.lng" class="label-sm energized">Tap to set location</div>
                <div ng-if="report.location.lng" class="label-sm energized">({{report.location.lat}}, {{report.location.lng}})</div>
            </label>
            <label class="item item-input item-dark item-stacked-label" ng-click="showPictureSheet()">
                <span class="input-label">Add photo/video</span>
                <div class="label-sm energized">{{report.images.length}} photos added</div>
            </label>
            <label class="item item-input item-dark item-stacked-label">
                <span class="input-label">Riding info</span>
                <div class="label-sm energized">No riding info</div>
            </label>
            <label class="item item-input item-dark item-stacked-label">
                <span>Avalanche conditions</span>
            </label>
            <ul class="list quick-report-conditions">
                <li class="item item-dark no-border label-sm item-checkbox checkbox-energized">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="report.conditions.slab">
                    </label>
                    Slab avalanches today or yesterday.
                </li>
                <li class="item item-dark no-border label-sm item-checkbox checkbox-energized">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="report.conditions.sound">
                    </label>
                    Whumphing or drum-like sounds or shooting cracks.
                </li>
                <li class="item item-dark no-border label-sm item-checkbox checkbox-energized">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="report.conditions.snow">
                    </label>
                    30cm + of new snow, or significant drifitng, or rain in the last 48 hours.
                </li>
                <li class="item item-dark no-border label-sm item-checkbox checkbox-energized">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Rapid temperature rise to near zero degrees or wet surface snow.
                </li>
            </ul>
            <label class="item item-input item-dark item-stacked-label">
                <span class="input-label">User Comments</span>
                <input type="text" placeholder="User comments">
            </label>
            <label class="item item-dark">
                <button class="button button-block button-energized" ng-click="checkData()">
                    SUBMIT FORM
                </button>
            </label>


        </ion-list>
    </ion-content>
</ion-view>
