@import "compass";

$extreme:#000000;
$high:#e0000d;
$considerable:#f06c00;
$moderate:#fff600;
$low:#32a423;
$alpine: #e6f0fc;
$treeline: #c1d831;
$belowtreeline: #6fa469;

$top-nav-height: 3em;
$bottom-nav-height: 3em;

@mixin thin-black-borders {
  border-color: black;
  border-style: solid;
  border-width: .1em;
}

@mixin border-fix {
	      -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;
}

@mixin gradient-bg {
background-color: rgb(167,207,223); // Old browsers
@include filter-gradient(#a7cfdf, #23538a, vertical); // IE6-9
@include background-image(linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%));
}