@import "defs";

/* Put your CSS here */

.dropdown-menu {
  z-index:100000000;
}

html, body{
  margin: 0; padding: 0;
  height: 100%;
  width:100%
}

.region {
  @include thin-black-borders;
  @include border-fix;
  text-align:center;
  width:100%;
  height:auto;
  @include gradient-bg;
  color:white;
  padding: 0.5em;
  margin-bottom:.5em;
  font-weight:bold;
}

.container {
  height:100%;
  width: auto;
  margin:0px auto;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.content
{
  margin:0px auto;
  max-width:500px;
  width: 100%;
  height:auto;
  padding-top:$top-nav-height+0.5;
  padding-bottom:$bottom-nav-height+0.5;
  @include border-fix;
}

.modal {
  margin-left:-48%;
  width:96%;
  top: 5% !important;
}

.modal-body-content {
  margin: auto;
  text-align: center;
  padding-bottom:1em;
}

@media all and (max-device-width: 400px) {
.content {
  max-width:320px;
  }
}

@media all and (max-device-width: 450px) {
.content {
  max-width:400px;
  }
}

@media all and (max-device-width: 499px) {
.content {
  max-width:450px;
  }
}

.accordion-heading {
}

.accordion-heading img {
  height:2em;
}

.accordion-heading .accordion-toggle {
  padding: 0;
}

.accordion-heading-content {
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5px 8px;
  font-weight:bold;
  color:black;
}


.text-wrapper
{
   width: 90%;
   margin: auto;
}

.loading {
   position: fixed; /* forces the element to stay fixed in relation to the viewport */
    top: 50%; /* sets the top of the image 50% of the page height */
    left: 50%; /* sets the left side of the image 50% across the page */
    margin-left: -20px; /* moves the image half of its own width to the left-side of the page */
    margin-top: -20px; /* moves the image half its height 'up' the page */
    z-index:1000;
}
