@import "defs";

.map-content {
position:absolute;
left:0;
right:0;
top:0;
bottom:0;
    margin:0px auto;
  max-width:500px;
  width: 100%;
  min-height:100%;
  height:auto;
  padding-top:$top-nav-height+3.5; 
  padding-bottom:$bottom-nav-height+0.5;
  @include border-fix;
}
#map-canvas {
    position: relative;
    width: 100%; 
    height: 100%;
    @include border-fix;
    z-index:0;
  }

/*
  @media all and (max-height: 500px) {
#map-canvas {
  height:350px;
  } 
}

  @media all and (max-height: 600px) and (min-height:501px){
#map-canvas {
  height:450px;
  } 
}

  @media all and (max-height: 2000px) and (min-height:601px) {
#map-canvas {
  height:550px;
  } 
}
*/
	
	#map-canvas img { max-width: none; max-height: none; }
