@import "defs";

.map-content {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:0px auto;
  max-width:500px;
  width: 100%;
  min-height:100%;
  height:auto;
  padding-top:$top-nav-height+0.5;
  padding-bottom:$bottom-nav-height+3.5;
  @include border-fix;
}

.date-input {
  width:100px;
  z-index:100000000000001;
}

.date {
  @include thin-black-borders;
  @include border-fix;
  text-align:center;
  width:100%;
  height:auto;
  @include gradient-bg;
  color:white;
  padding: 0.1em;
  margin-bottom:.5em;
  font-weight:bold;
  height:2.5em;
  z-index:100000000000000;
}


#map-canvas {
  width: 100%; 
  height: 100%;
  @include border-fix;
}

#map-canvas img { 
  max-width: none; max-height: none; 
}

.map-control-container {
  padding:.5em;
  z-index:100000;
}

.map-control {
  background-color:white;
  border-style:solid;
  border-width:.1em;
  border-color:lightGray;
  z-index:100001;
  cursor:pointer;
}

.map-control-text {
  padding: .1em .4em;
  z-index:100002;
}

.gmnoprint, .map-control, .map-control-container, .map-control-text { 
  -webkit-transform:translate3d(0,0,0); 
}
