@import "defs";

.header {
    @include gradient-bg;
  height:$top-nav-height;
  border-bottom: .1em solid black;
  border-bottom-color: black;
  padding-left:1em;
  padding-right:1em;
}

.footer {
    @include gradient-bg;
  height:auto;
  border-top: .1em solid black;
  padding-left:1em;
  padding-right:1em;
}

.navbar {
      margin-bottom: 0px;
}

.nav {
  margin-bottom: 0;
}
.nav li {
  margin-bottom: .2em;
}

.header-img {
  float:left;
    border: 0;
    height:$top-nav-height;
}

.footer-img {
  width:auto;
  height:auto;
    max-height:$bottom-nav-height;
}

// Todo: This isn't very nice, and the heights are hardcoded
.quarterleft {
float:left;
  width: 25%;
  height:$bottom-nav-height;
}

.quarterright {
float:right;
  width: 25%;
  height:$bottom-nav-height;
}