@import "defs";

.header {
  @include nav-gradient-bg;
  height:$top-nav-height;
  border-bottom: .2em solid black;
}

.footer {
  @include nav-gradient-bg;
  height:auto;
  border-top: .2em solid black;

}

.navbar {
      margin-bottom: 0px;
}

.glyphicons.red:before{
  color: red !important;
}

.nav {
  margin-bottom: 0;
}
.nav li {
  margin-bottom: .2em;
}

.header-img {
  float:left;
    border: 0;
    height:$top-nav-height;
}

@media all and (max-width: 240px) {
.header-img {
  max-width: 140px !important;
}

}

.header-icon {
  margin-right:-8px !important;
}

.footer-img {
  width:auto;
  height:auto;
  max-height:$bottom-nav-height;
}

// Todo: This isn't very nice, and the heights are hardcoded
.nav-item {
float:left;
  width: 33%;
  height:$bottom-nav-height;
}
