@import "defs";

.glyph-btn{
  padding-left: 30px;
  color:white;
}

.obs-photo {
   max-width:50px;
   max-height:50px;
}

.photo-div {
   padding-bottom:0.5em;
   border-width:1px;
   border-style:solid;
   border-color:#c0c0c0;
   padding-top:0.5em;
   padding-left:0.5em;
   margin-top:0.5em;
   margin-bottom:0.5em !important;
  @include border-fix;
  border-radius:0.5em;
}

.location-div {
  @extend .photo-div;
}

.modal-map
{
   height:300px !important;
   width:100% !important;
   margin:auto;
}

.modal-photo
{
  max-width: 90%;
  max-height:70%;
  margin-top:0.5em;
}
