<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>CAC Mobile</name>

    <description>
        Description
	</description>
	
	<content src="index.html" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/media"/>

	<!-- PhoneGap API -->
	<feature id="phonegap" required="true" version="1.0.0" />
	
	<!-- PhoneGap API -->
	<access subdomains="true" uri="file:///store/home" />
	<access subdomains="true" uri="file:///SDCard" />
 
	<!-- Expose access to all URIs, including the file and http protocols -->
	<access origin="*" subdomains="true"  />
	
    <author href="www.avalanche.ca" email="support@avalanche.ca">
        Ben Shaw on behalf of the Canadian Avalanche Association
    </author>

</widget>
