<div class="text-center navbar navbar-fixed-top header" ng-controller='NavCtrl' ng-include="'views/nav/header_back.html'"></div>  


				<div class="content">
					<div class="text-wrapper">
						<p>
							<button class="btn btn-primary pull-right" ng-click="redirect('/tou')">Terms of Use</button>
							<strong>CAC Mobile App Version 2.0</strong>
						</p>
						<p>Support: <a href="mailto:support@avalanche.ca">support@avalanche.ca</a></p>
						<p>Funding generously provided by <a ng-click='openMec()'>Mountain Equipment Co-op</a> and <a ng-click='openUrl("http://www.tecterra.com/")'>Tecterra</a></p>
						<img src="img/MEC_Logo_Large.png" class="about_mec pull-left" ng-click='openMec()'/> <img src="img/TECTERRA_Logo.png" class='about_tecterra pull-right' ng-click='openUrl("http://www.tecterra.com/")'/>			
					</div>
			</div>

<div class="text-center navbar navbar-fixed-bottom footer" ng-controller='NavCtrl' ng-include="'views/nav/footer.html'" />