<div class="text-center navbar navbar-fixed-top header" ng-controller='NavCtrl' ng-include="'views/nav/header.html'"></div>  


				<div class="content">
				<div class="region">
					CAC Mobile App Version 2.1.0
				</div>
					<div class="text-wrapper text-center">
							
							
						<p>Support: 
							<a href="mailto:support@avalanche.ca">support@avalanche.ca</a>
						</p>
						<p>Funding generously provided by 
							<a ng-click='openMec()'>Mountain Equipment Co-op</a> and <a ng-click='openUrl("http://www.tecterra.com/")'>Tecterra</a>
						</p>
						<p>
							<img src="img/MEC_Logo_Large.png" class="about_mec" ng-click='openMec()'/> <img src="img/TECTERRA_Logo.png" class='about_tecterra' ng-click='openUrl("http://www.tecterra.com/")'/>
							</p>
							<p>
							<button class="btn btn-primary" ng-click="redirect('/tou')">Terms of Use</button>
						</p>	
					</div>
			</div>

<div class="text-center navbar navbar-fixed-bottom footer" ng-controller='NavCtrl' ng-include="'views/nav/footer.html'" />