<div class="view" data-viewid="danger-scale">
				<div class="titlebar">
					<button class="btn back">Back</button>
					<section class="title">Danger Scale</section>
				</div>
				<section class="content">
					<div class="contentwrapper">
						<ul class="nav nav-tabs nav-stacked no-border danger-scale-tabs">
							<li><a href="#" data-accordion="extreme">5 - Extreme</a></li>
							<li class="accordion" data-parent="extreme">
								<p><strong>Travel Advice</strong></p>
								<p>Avoid all avalanche terrain.</p>
								<p><strong>Likelihood of Avalanches</strong></p>
								<p>Natural and human triggered avalanches certain.</p>
								<p><strong>Avalanche Size and Distribution</strong></p>
								<p>Large to very large avalanches in many areas.</p>
							</li>
							<li><a href="#" data-accordion="high">4 - High</a></li>
							<li class="accordion" data-parent="high">
								<p><strong>Travel Advice</strong></p>
								<p>Very dangerous avalanche conditions. Travel in avalanche terrain not recommended.</p>
								<p><strong>Likelihood of Avalanches</strong></p>
								<p>Natural avalanches likely; human-triggered avalanches very likely.</p>
								<p><strong>Avalanche Size and Distribution</strong></p>
								<p>Large avalanches in many areas; or very large avalanches in specific areas.</p>
							</li>
							<li><a href="#" data-accordion="considerable">3 - Considerable</a></li>
							<li class="accordion" data-parent="considerable">
								<p><strong>Travel Advice</strong></p>
								<p>Dangerous avalanche conditions. Careful snowpack evaluation, cautious route-finding and conservative decision-making essential.</p>
								<p><strong>Likelihood of Avalanches</strong></p>
								<p>Natural avalanches possible; human-triggered avalanches likely.</p>
								<p><strong>Avalanche Size and Distribution</strong></p>
								<p>Small avalanches in many areas; or large avalanches in specific areas; or very large avalanches in isolated areas.</p>
							</li>
							<li><a href="#" data-accordion="moderate">2 - Moderate</a></li>
							<li class="accordion" data-parent="moderate">
								<p><strong>Travel Advice</strong></p>
								<p>Heightened avalanche conditions on specific terrain features. Evaluate snow and terrain carefully; identify features of concern.</p>
								<p><strong>Likelihood of Avalanches</strong></p>
								<p>Natural avalanches unlikely; human-triggered avalanches possible.</p>
								<p><strong>Avalanche Size and Distribution</strong></p>
								<p>Small avalanches in specific areas; or large avalanches in isolated areas.</p>
							</li>
							<li><a href="#" data-accordion="low">1 - Low</a></li>
							<li class="accordion" data-parent="low">
								<p><strong>Travel Advice</strong></p>
								<p>Generally safe avalanche conditions. Watch for unstable snow on isolated terrain features.</p>
								<p><strong>Likelihood of Avalanches</strong></p>
								<p>Natural and human-triggered avalanches unlikely.</p>
								<p><strong>Avalanche Size and Distribution</strong></p>
								<p>Small avalanches in isolated areas or extreme terrain.</p>
							</li>
						</ul>
					</div>
				</section>
			</div>