<div class="view" data-viewid="danger-scale">
				<div class="titlebar">
					<section class="title">Danger Scale</section>
				</div>
				<section class="content">
					<div class="contentwrapper">
					
					
						<ul class="nav nav-tabs nav-stacked no-border danger-scale-tabs">
					
							<li class="accordion-heading">
		      				<a class="accordion-toggle" data-accordion="extreme" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		        				5 - Extreme
		      				</a>
		    				</li>
		    				<li id="collapseOne" class="accordion-body collapse">
		     					 <div class="accordion-inner">
		        					<p><strong>Travel Advice</strong></p>
										<p>Avoid all avalanche terrain.</p>
										<p><strong>Likelihood of Avalanches</strong></p>
										<p>Natural and human triggered avalanches certain.</p>
										<p><strong>Avalanche Size and Distribution</strong></p>
										<p>Large to very large avalanches in many areas.</p>
		      					 </div>
		    				</li>
		    				
		    				<li class="accordion-heading">
		      				<a class="accordion-toggle" data-accordion="high" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		        				4 - High
		      				</a>
		    				</li>
		    				<li id="collapseTwo" class="accordion-body collapse">
		     					 <div class="accordion-inner">
									<p><strong>Travel Advice</strong></p>
									<p>Very dangerous avalanche conditions. Travel in avalanche terrain not recommended.</p>
									<p><strong>Likelihood of Avalanches</strong></p>
									<p>Natural avalanches likely; human-triggered avalanches very likely.</p>
									<p><strong>Avalanche Size and Distribution</strong></p>
									<p>Large avalanches in many areas; or very large avalanches in specific areas.</p>
		      					 </div>
		    				</li>

		    				<li class="accordion-heading">
		      				<a class="accordion-toggle" data-accordion="considerable" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
		        				3 - Considerable
		      				</a>
		    				</li>
		    				<li id="collapseThree" class="accordion-body collapse">
		     					 <div class="accordion-inner">
									<p><strong>Travel Advice</strong></p>
									<p>Dangerous avalanche conditions. Careful snowpack evaluation, cautious route-finding and conservative decision-making essential.</p>
									<p><strong>Likelihood of Avalanches</strong></p>
									<p>Natural avalanches possible; human-triggered avalanches likely.</p>
									<p><strong>Avalanche Size and Distribution</strong></p>
									<p>Small avalanches in many areas; or large avalanches in specific areas; or very large avalanches in isolated areas.</p>
		      					 </div>
		    				</li>
    				
    						<li class="accordion-heading">
		      				<a class="accordion-toggle" data-accordion="moderate" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
		        				2 - Moderate
		      				</a>
		    				</li>
		    				<li id="collapseFour" class="accordion-body collapse">
		     					 <div class="accordion-inner">
									<p><strong>Travel Advice</strong></p>
									<p>Heightened avalanche conditions on specific terrain features. Evaluate snow and terrain carefully; identify features of concern.</p>
									<p><strong>Likelihood of Avalanches</strong></p>
									<p>Natural avalanches unlikely; human-triggered avalanches possible.</p>
									<p><strong>Avalanche Size and Distribution</strong></p>
									<p>Small avalanches in specific areas; or large avalanches in isolated areas.</p>
		      					 </div>
		    				</li>
					
					    	<li class="accordion-heading">
		      				<a class="accordion-toggle" data-accordion="low" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
		        				1 - Low
		      				</a>
		    				</li>
		    				<li id="collapseFive" class="accordion-body collapse">
		     					 <div class="accordion-inner">
									<p><strong>Travel Advice</strong></p>
									<p>Generally safe avalanche conditions. Watch for unstable snow on isolated terrain features.</p>
									<p><strong>Likelihood of Avalanches</strong></p>
									<p>Natural and human-triggered avalanches unlikely.</p>
									<p><strong>Avalanche Size and Distribution</strong></p>
									<p>Small avalanches in isolated areas or extreme terrain.</p>
		      					 </div>
		    				</li>

						</ul>
					</div>
				</section>
			</div>