<div class="text-center navbar navbar-fixed-top header" ng-controller='NavCtrl' ng-include="'views/nav/header.html'"></div>  
				<div class="content">
				<div class="region">Details: {{regionDisplayName}}</div>
						<ul class="nav nav-tabs nav-stacked no-border">
							
							<li class="accordion-heading nav-gradient"><i class="icon-circle-arrow-down pull-right"></i>
		      				<a class="accordion-toggle" data-accordion="avalanche" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		        				Avalanche Summary
		      				</a>
		    				</li>
		    				<li id="collapseOne" class="accordion-body collapse">
		     					 <div class="accordion-inner">
		        					<p><strong> {{ av}}</strong></p>
		      					 </div>
		      					 
		      			</li>
		    				
		    				<li class="accordion-heading nav-gradient"><i class="icon-circle-arrow-down pull-right"></i>
		      				<a class="accordion-toggle" data-accordion="snowpack" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		        				Snowpack Summary
		      				</a>
		    				</li>
		    				<li id="collapseTwo" class="accordion-body collapse">
		     					 <div class="accordion-inner">
		        					<p><strong> {{ snowPack }}</strong></p>
		      					 </div>
		    				</li>
							
		    				<li class="accordion-heading nav-gradient"><i class="icon-circle-arrow-down pull-right"></i>
		      				<a class="accordion-toggle" data-accordion="weather" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
		        				Weather Summary
		      				</a>
		    				</li>
		    				<li id="collapseThree" class="accordion-body collapse">
		     					 <div class="accordion-inner">
		        					<p><strong> {{ weather }}</strong></p>
		      					 </div>
		    				</li>
							
							
							

						</ul>
					</div>

   <div class="text-center navbar navbar-fixed-bottom footer" ng-controller='NavCtrl' ng-include="'views/nav/footer.html'">
    </div>         
     
		