<div class="view" data-viewid="details-info">
				<div class="titlebar">
					<button class="btn back">Back</button>
					<section class="title">Details</section>
				</div>
				<section class="content">
					<div class="contentwrapper">
						<ul class="nav nav-tabs nav-stacked no-border details-tab-tabs">
							<li><a href="#" data-accordion="avalanche">Avalanche Summary</a></li>
							<li class="accordion" data-parent="avalanche">No Summary</li>
							<li><a href="#" data-accordion="snowpack">Snowpack Summary</a></li>
							<li class="accordion" data-parent="snowpack">No Summary</li>
							<li><a href="#" data-accordion="weather">Weather Summary</a></li>
							<li class="accordion" data-parent="weather">No Summary</li>
						</ul>
					</div>
				</section>
			</div>