
            <div>
                <label for="longitude">Longitude</label>
                <input name="longitude" ng-model="longitude" type="text" />
            </div>
            
            <div>
                <label for="latitude">Latitude</label>
                <input name="latitude" ng-model="latitude" type="text" />
            </div>
            
            <br/>
            <button ng-click="updatePosition()">Current Location</button>

             <div>
                <label for="region">Region</label>
                <input name="region" ng-model="region" type="text" />
            </div>
            
            <br/>
            <button ng-click="getData()">Get Data</button>
            
            </br>
            <div>
            	{{remoteData}}
            </div>
           
           
<div class="input-prepend">
  <span class="add-on">@</span>
  <input class="span2" id="prependedInput" type="text" placeholder="Username">
</div>
            
            