<div class="text-center navbar navbar-fixed-top header" ng-controller='NavCtrl' ng-include="'views/nav/header.html'"></div>   

   <div class="content">
      <div id="map-canvas" google-map=""></div>
   </div>

   <div class="text-center navbar navbar-fixed-bottom footer" ng-controller='NavCtrl'>
       <div class="quarterleft">
                <img class="footer-img" src="img/icons/icon_cloudsnow.png" ng-click="redirect('/region-list')" />
      </div>
      <img class="footer-img" src="img/MEC_Logo.png" ng-click="redirect('/gear')" />
      <div class="quarterright"></div>      
</div>   
    