<div class="text-center navbar navbar-fixed-top header" ng-controller='NavCtrl' ng-include="'views/nav/header.html'"></div>
<div class="content">
   <div class="region">
      Observations
   </div>

   <form class="form-horizontal css-form" novalidate name="form">

      <div> Session / Sign In</div>
      <div class="control-group">
         <label class="control-label" for="token">Email</label>
         <div class="controls">
            <input type="text" ng-model="session.email" name="email"/>
         </div>
      </div>

      <div class="control-group">
         <label class="control-label" for="latitude">Password</label>
         <div class="controls">
            <input type="text" ng-model="session.password" name="password"/>
         </div>
      </div>

      <div class="control-group">
         <label class="control-label" for="latitude">Token</label>
         <div class="controls">
            <input type="text" ng-model="session.token" name="token"/>
         </div>
      </div>

      <div class="control-group">
        <div class="controls">
         <button ng-click="saveSession()"> Login </button>
        </div>
      </div>

      <div> Observation</div>
      <div class="control-group">
         <label class="control-label" for="token">Token</label>
         <div class="controls">
            <input type="text" ng-model="obs.token" name = "token"/>
         </div>
      </div>

      <div class="control-group">
         <label class="control-label" for="id">Id</label>
         <div class="controls">
            <input type="text" ng-model="obs.id" name = "id"/>
         </div>
      </div>

      <div class="control-group">
         <label class="control-label" for="recorded_at">recorded_at</label>
         <div class="controls">
            <input type="textarea" ng-model="obs.recorded_at" name = "recorded_at" step="any"/>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="Visibility">Visibility</label>
         <div class="controls">
            <input type="text" ng-model="obs.visibility" name = "visibility" />
         </div>
      </div>
      <div class="control-group">
        <div class="controls">
         <button ng-click="saveObs(session.token)">Send Observation</button>
        </div>
      </div>

      <div> Photo</div>

      <div class="control-group">
         <label class="control-label" for="id">ID</label>
         <div class="controls">
            <input type="text" ng-model="photo.id" name="id"/>
         </div>
      </div>

      <div class="control-group">
         <label class="control-label" for="token">Token</label>
         <div class="controls">
            <input type="text" ng-model="photo.token" name="token"/>
         </div>
      </div>

      <div class="control-group">
         <label class="control-label" for="obs_id">Obs Id</label>
         <div class="controls">
            <input type="text" ng-model="photo.observation_id" name="obs_id"/>
         </div>
      </div>

      <div class="control-group">
         <label class="control-label" for="comment">comment</label>
         <div class="controls">
            <input type="text" ng-model="photo.comment" name="comment" />
         </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="image">Image File</label>
        <div class="controls">
         <input type="file" name="image" file-upload="photo.image"/>
        </div>
    </div>

      <div class="control-group">
        <div class="controls">
         <button ng-click="savePhoto(session.token, obs.id)">Send Photo</button>
        </div>
      </div>


     <div> Location</div>
      <div class="control-group">
         <label class="control-label" for="token">Token</label>
         <div class="controls">
            <input type="text" ng-model="location.token" name="token"/>
         </div>
      </div>

      <div class="control-group">
         <label class="control-label" for="obs_id">Obs Id</label>
         <div class="controls">
            <input type="text" ng-model="location.observation_id" name="obs_id"/>
         </div>
      </div>

      <div class="control-group">
         <label class="control-label" for="latitude">latitude</label>
         <div class="controls">
            <input type="text" ng-model="location.latitude" name="latitude" />
         </div>
      </div>

      <div class="control-group">
         <label class="control-label" for="longitude">longitude</label>
         <div class="controls">
            <input type="text" ng-model="location.longitude" name="longitude" />
         </div>
      </div>

      <div class="control-group">
        <div class="controls">
         <button ng-click="saveLocation(session.token, obs.id)">Send Location</button>
        </div>
      </div>



  <!--
      <div class="control-group">
         <label class="control-label" for="token">Token</label>
         <div class="controls">
            <input type="text" ng-model="obs.token" name = "token"/>
         </div>
      </div>

      <div class="control-group">
         <label class="control-label" for="latitude">Comment</label>
         <div class="controls">
            <input type="textarea" ng-model="obs.comment" name = "comment" step="any"/>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="latitude">Latitude</label>
         <div class="controls">
            <input type="number" ng-model="obs.latitude" name = "latitude" step="any"/>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="longitude">Longitude</label>
         <div class="controls">
            <input type="number" ng-model="obs.longitude" name = "longitude" step="any"/>
         </div>
      </div>

      <div class="control-group">
      <label class="control-label" for="recordedAt">Recorded At</label>
         <div class="controls">
            <input type="datetime" ng-model="obs.recordedAt" name = "recordedAt" step="any"/>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="type">Type</label>
         <div class="controls">
            <select ng-model="obs.type" name="type">
             <option value="public" selected>Public</option>
             <option value="forecaster">Forecaster Only</option>
             <option value="private">Private</option>
          </select>
       </div>
    </div>


    <div class="control-group">
      <label class="control-label" for="email">File</label>
      <div class="controls">
         <input type="file" name="file" file-upload="obs.file"/>
      </div>
   </div>    <div class="control-group">
      <div class="controls">
         <button ng-click="saveObs()">Send Observation</button>
      </div>
   </div>-->



</form>

<div class="alert alert-info">Server Response: {{response}}</div>

<div class="text-center navbar navbar-fixed-bottom footer" ng-controller='NavCtrl' ng-include="'views/nav/footer.html'">
</div>
