<div class="text-center navbar navbar-fixed-top header" ng-controller='NavCtrl' ng-include="'views/nav/header.html'"></div>


            <div class="content">
            <div class="region">
               Observation
            </div>
               <div class="text-wrapper text-center">
                  <p>Observation submitted at <b>{{observation.submitted_at}}</b> by <b>{{observation.username}}</b></p>
                  <p>Location: {{observation.location_name}}</p>
                  <p ng-if="comment">Comment: {{comment.text}} </p>
                  <ul ng-if="photos.length > 0">Photos:
                     <li ng-repeat="p in photos"> <img ng-src="{{p.links.thumbnail.href}}" ng-click="loadPhoto(p)" /></li>
                  </ul>
               </div>
         </div>

<div class="text-center navbar navbar-fixed-bottom footer" ng-controller='NavCtrl' ng-include="'views/nav/footer.html'" />
