<ul class="photo-list">
  <li ng-repeat="photo in photo_list">
    {{photo.image}} {{photo.comment}}
  </li>
</ul>






        <div class="control-group" ng-controller="LoadPhotoModal">
            <script type="text/ng-template" id="loadPhoto_modal.html">
                <div class="modal-header">
                    <h3> Pick a source</h3>
                </div>

                <div class="control-group">
                  <div class="controls">
                   <button class="btn" ng-click="library()">Library</button>
                  </div>
                </div>

                <div class="control-group">
                  <div class="controls">
                   <button class="btn" ng-click="camera()">Camera</button>
                  </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>

            <span class="glyphicon glyphicon-plus" ng-click="open()">Photo</span>
            <div ng-show="photo.image">Selection from a modal: {{ photo.image }}</div>
        </div>
