<div class="text-center navbar navbar-fixed-top header" ng-controller='NavCtrl' ng-include="'views/nav/header.html'"></div>


            <div class="content">
            <div class="region">
               Observation
            </div>
               <div class="text-wrapper text-center">
                  <p>Submitted at <b>{{observation.submitted_at}}</b> by <b>{{observation.username}}</b></p>
                  <p>Location: <a ng-click="loadLocation(observation.location_id)">{{observation.location_name}}</a></p>
                  <p ng-if="comment">Comment: {{comment.text}} </p>
                  <ul class="nav" ng-if="photos.length > 0">
                          <label class="control-label"><b>Photos</b></label>
                     <li ng-repeat="p in photos"> <img ng-src="{{p.links.thumbnail.href}}" ng-click="loadPhoto(p)" /></li>
                  </ul>
               </div>
         </div>

               <script type="text/ng-template" id="showLocationModal.html">
              <div class="modal-header">
                  <button class="btn btn-warning" ng-click="cancel()">Close</button>
              </div>

              <div class="modal-map" id="map-canvas" show-location-map></div>

            </script>

<div class="text-center navbar navbar-fixed-bottom footer" ng-controller='NavCtrl' ng-include="'views/nav/footer.html'" />
