
   <div class="text-wrapper text-center">
     <script type="text/ng-template" id="modalPhoto.html">
        <div class="modal-header">
      <button class="btn btn-warning" ng-click="cancel()">Close</button>
      </div>
       <div class="modal-body-content">
       <div modal-photo>

      </div>
      </div>

   </script>
<table class="table table-hover">
<tr><th ng-click="orderBy('submitted_at')">Time</th>
   <th ng-click="orderBy('location_name')">Location</th>
   <th ng-click="orderBy('username')">Submitter</th>
   <th>Type</th>
   <th></th>
</tr>
<tr ng-repeat="o in observations | orderBy:orderByField:reverseOrder">
   <td>{{o.submitted_at}}</td>
   <td>{{o.location_name}}</td>
   <td>{{o.username}}</td>
   <td ng-click="loadObservation(o.id)">      
   <i class="glyphicons comments" ng-show="o.comment_id"></i>
   <i class="glyphicons camera" ng-show="o.photo_id"></i>

  </td> 
</tr>
</table>
</div>
