
   <div class="text-center">
     <script type="text/ng-template" id="modalPhoto.html">
        <div class="modal-header">
      <button class="btn btn-warning" ng-click="cancel()">Close</button>
      </div>
       <div class="modal-body-content">
       <div modal-photo>

      </div>
      </div>

   </script>
<table class="table table-hover table-condensed">
  <tr>
    <th ng-click="orderBy('submitted_at')">
      Time
      <i class="icon-arrow-down" ng-show="orderByField == 'submitted_at' && reverseOrder == false"></i> 
      <i class="icon-arrow-up" ng-show="orderByField == 'submitted_at' && reverseOrder == true"></i> 
    </th>
    <th ng-click="orderBy('location_name')">
      Location
      <i class="icon-arrow-down" ng-show="orderByField == 'location_name' && reverseOrder == false"></i> 
      <i class="icon-arrow-up" ng-show="orderByField == 'location_name' && reverseOrder == true"></i> 
    </th>
    <th ng-click="orderBy('username')">
      Submitter
      <i class="icon-arrow-down" ng-show="orderByField == 'username' && reverseOrder == false"></i> 
      <i class="icon-arrow-up" ng-show="orderByField == 'username' && reverseOrder == true"></i> 
    </th>
    <th>
      Type
    </th>
   <th></th>
</tr>
<tr ng-click="loadObservation(o.id)" ng-repeat="o in observations | orderBy:orderByField:reverseOrder">
   <td>{{o.submitted_at}}</td>
   <td>{{o.location_name}}</td>
   <td>{{o.username}}</td>
   <td>  
    <i class="glyphicons-icon comments obs-table-icon" ng-show="o.comment_id"></i>
    <i class="glyphicons-icon camera obs-table-icon" ng-show="o.photo_id"></i>
  </td> 
  <td>
    <i class="icon-chevron-right"></i> 
  </td>
</tr>
</table>
<div ng-if="observations.length == 0 && observation_ids.length == 0">There are no observations for the region and dates you have selected. Try changing the dates, or switching back to the map view and viewing a different area.
</div>
