<div class="view" data-viewid="problems">
				<div class="titlebar">
					<section class="title">Problems {{ region }}</section>
				</div>
				
				       <!--
                        imgElevation.Width = 160;
                        imgAspect.Width = 130;
                        imgSize.Width = 140;
                        imgLikelihood.Width = 140;
                        -->
				
				
				<div  class="problemBox">
                    
    </div>
                
</div>
				
				
				
				<section class="content">
				  <div>
				
				     <ul>
            
                     <div ng-repeat="avProblem in avyProblems">
                     
                     <li class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{$index}}" href="#collapse{{$index}}">
                           {{avProblem.type.__text}}
                        </a>
                     </li>
                     <li id="collapse{{$index}}" class="accordion-body collapse">
                         <div class="accordion-inner">
                         
                         <!-- 
                             size {{avProblem.expectedAvSize}}
					              <br />
					              aspect {{ avProblem.validAspect_asArray }}
					              <br />
					              elevation {{ avProblem.validElevation_asArray }}
					              <br />
					              liklihood {{ avProblem.likelihoodOfTriggering }}
					                -->            
					                       
					                       
					              <div class="problemImages">
					              
			                        <div class="problemImageBox elevationImageBox">
			                            <span class="problemImageTitle">What Elevation Zone?</span>
			                            <img ng-src="/img/Elevation/Elevation-0-1-1_EN.png" > <!-- style="width:160px;border-width:0px;" -->
			                        </div>
			            
			                        {{ avProblem.validAspect }}
			                        <div class="problemImageBox compassImageBox">
			                            <span class="problemImageTitle">Which Slopes? {{ avProblem.validAspect.has('AspectRange_E') && "hello" || "error" }}</span>
			                            <img ng-src="/img/Compass/compass-{{avProblem.validAspect_asArray.indexof('AspectRange_N') < 0 && 1 ||0}}-{{avProblem.validAspect_asArray.indexof('AspectRange_NE') < 0 && 1 ||0}}-{{avProblem.validAspect_asArray.indexof('AspectRange_E') < 0 && 1 ||0}}-{{avProblem.validAspect_asArray.indexof('AspectRange_SE') < 0 && 1 ||0}}-{{avProblem.validAspect_asArray.indexof('AspectRange_S') < 0 && 1 ||0}}-{{avProblem.validAspect_asArray.indexof('AspectRange_SW') < 0 && 1 ||0}}-{{avProblem.validAspect_asArray.indexof('AspectRange_W') < 0 && 1 ||0}}-{{avProblem.validAspect_asArray.indexof('AspectRange_NW') < 0 && 1 ||0}}_EN.png" > <!-- style="width:130px;border-width:0px;" -->
			                        </div>
			            
			                        <div class="problemImageBox likelihoodImageBox">
			                            <span class="problemImageTitle">Chance of Avalanches?</span>
			                            <img  ng-src="/img/Likelihood/Likelihood-2_EN.png" > <!-- style="width:140px;border-width:0px;" -->
			                        </div>
			            
			                        <div class="problemImageBox sizeImageBox">
			                            <span class="problemImageTitle">Expected Size?</span>
			                            <img  ng-src="/img/Size/Size-1-3_EN.png"> <!-- style="width:140px;border-width:0px;" -->
			                        </div>
			                        
			                    </div>
	                          <div class="problemTextBox">
                                 {{ avProblem.comment.__text }}
                             </div>
                    
		                       <div class="travelBox">
								        <div class="problemTitle">
								          Travel and Terrain Advice
								        </div>
								        <div class="travelText">
								            <ul>
									             <li ng-repeat="travelAdvisoryComment in avProblem.travelAdvisoryComment_asArray">
									                {{ travelAdvisoryComment.__text }}
									             </li>
								             </ul>
								        </div>
					              </div>
                            
                     </li>
                 
                     </div>
                     
                  </ul>
				
				  </div>
				
				 
				
				<!-- 
				$scope.size = avProb.expectedAvSize;
                  $scope.aspect = avProb.validAspect_asArray;
                  $scope.elevation = avProb.validElevation_asArray;
                  $scope.liklihood = avProb.likelihoodOfTriggering;
                  
				
					<div class="contentwrapper">{{ problemDetails }}</div>					
					<div>{{ size }}</div>
					<div>{{ aspect }}</div>
					<div>{{ elevation }}</div>
					<div>{{ liklihood }}</div>
				 -->	  
					           
				</section>
			</div>