<div class="text-center navbar navbar-fixed-top header" ng-controller='NavCtrl'>
           <img class="header-img" src="img/CAC_Logo.png">
              <button class="btn pull-right btn-primary" ng-click="redirect('/about')">About</button>
</div>   




<div class="content" data-contentid="all">
	<ul id="forecast-tabs" class="nav nav-tabs nav-stacked no-border forecast-tabs">

		<li ng-repeat="region in regionList">
			<a href="#/region-details/{{ region }}">{{ region }} </a>
			<li>
				
			</ul>
		</div>


   <div class="text-center navbar navbar-fixed-bottom footer" ng-controller='NavCtrl' ng-include="'views/nav/footer.html'">
    </div>             

   <!-- <div connection-state=""></div> -->