<div class="view tabs" data-viewid="forecast-list">
				<div class="titlebar">
					<button class="btn back">Back</button>
					<section class="title">Regions</section>
					<button class="btn right refresh">Refresh</button>
				</div>
				<section class="content" data-contentid="all">
					<div class="contentwrapper">
						<ul id="forecast-tabs" class="nav nav-tabs nav-stacked no-border forecast-tabs">
							<li><a href="#/regionDetails" data-target="cariboos">North Columbia - Cariboos</a></li>
							<li><a href="#/regionDetails" data-target="kananaskis">Kananaskis Country</a></li>
							<li><a href="#/regionDetails" data-target="kootenay-boundary">Kootenay Boundary</a></li>
							<li><a href="#/regionDetails" data-target="lizardrange">Lizard Range</a></li>
							<li><a href="#/regionDetails" data-target="monashees-selkirks">North Columbia - Monashees and Selkirks</a></li>
							<li><a href="#/regionDetails" data-target="northwest-coastal">Northwest Coastal</a></li>
							<li><a href="#/regionDetails" data-target="northwest-inland">Northwest Inland</a></li>
							<li><a href="#/regionDetails" data-target="north-shore">North Shore</a></li>
							<li><a href="#/regionDetails" data-target="purcells">Purcells</a></li>
							<li><a href="#/regionDetails" data-target="sea-to-sky">Sea to Sky</a></li>
							<li><a href="#/regionDetails" data-target="south-coast">South Coast - Inland</a></li>
							<li><a href="#/regionDetails" data-target="south-columbia">South Columbia</a></li>
							<li><a href="#/regionDetails" data-target="south-rockies">South Rockies</a></li>
						</ul>
					</div>
				</section>
				<section class="content" data-contentid="favourites">
					<div class="contentwrapper">
						<ul id="favourites-tabs" class="nav nav-tabs nav-stacked no-border forecast-tabs"></ul>
					</div>
				</section>
				<div class="btn-group two">
					<button class="btn active" data-contentid="all">All</button>
					<button class="btn" data-contentid="favourites">Favourites</button>
				</div>
			</div>