<div class="view" data-viewid="forecast-details">
				<div class="titlebar">
					<section class="title">CAC</section>
					<button class="btn right" ng-click="back()">Back</button>
				</div>
				
	        {{ region }}
				
				<section class="content">
					<div class="contentwrapper">
						<div class="expiry">
							<section class="issued"></section>
							<section class="expires"></section>
						</div>
						<div class="mountain">
							<div class="mountain_image"></div>
						</div>
						<div class="labels_overlay">
							<section class="today"></section>
							<section class="top">Alpine</section>
							<section class="middle">Treeline</section>
							<section class="bottom">Below Treeline</section>
						</div>
						<div class="warnings_overlay">
							<section class="top">{{today.dangerRatingAlpValue.__text}}</section>
							<section class="middle">{{today.dangerRatingTlnValue.__text}}</section>
							<section class="bottom">{{today.dangerRatingBtlValue.__text}}</section>
						</div>
						<table class="tomorrow_details">
							<tbody>
								<tr>
									<td></td>
									<td class="tomorrow"></td>
									<td class="dayaftertomorrow"></td>
								</tr>
								<tr>
									<td class="alpine">Alpine</td>
									<td class="alpine_tomorrow">{{tomorrow.dangerRatingAlpValue.__text}}</td>
									<td class="alpine_dayaftertomorrow">{{dayAfter.dangerRatingAlpValue.__text}}</td>
								</tr>
								<tr>
									<td class="treeline">Treeline</td>
									<td class="treeline_tomorrow">{{tomorrow.dangerRatingTlnValue.__text}}</td>
									<td class="treeline_dayaftertomorrow">{{dayAfter.dangerRatingTlnValue.__text}}</td>
								</tr>
								<tr>
									<td class="below_treeline">Below Treeline</td>
									<td class="below_treeline_tomorrow">{{tomorrow.dangerRatingBtlValue.__text}}</td>
									<td class="below_treeline_dayaftertomorrow">{{dayAfter.dangerRatingBtlValue.__text}}</td>
								</tr>
							</tbody>
						</table>
						<p class="confidence"></p>
						<ul class="nav nav-tabs nav-stacked details-tabs">
							<li><a href="#/problems/{{region}}" class="chev" data-link="problems">Problems</a></li>
							<li><a href="#/details-info/{{region}}" class="chev" data-link="details-info">Details</a></li>
							<li><a href="#/danger-scale" class="chev" data-link="danger-scale">Danger Scale</a></li>
						</ul>
						 
					</div>
				</section>
			</div>