

<div class="text-center navbar navbar-fixed-top header" ng-controller='NavCtrl'>
	<img class="header-img" src="img/CAC_Logo_Basic.png"><img class="header-img" src="img/MEC_Logo_Basic.png">
	<button class="btn pull-right btn-primary" ng-click="back()">Back</button>
	<h4>Region List</h4>   

</div>   

<div connection-state=""></div>


<div class="content" data-contentid="all">
	<ul id="forecast-tabs" class="nav nav-tabs nav-stacked no-border forecast-tabs">

		<li ng-repeat="region in regionList">
			<a href="#/region-details/{{ region }}">{{ region }} </a>
			<li>
				
			</ul>
		</div>


		<div class="text-center navbar navbar-fixed-bottom footer" ng-controller='NavCtrl'>
			<button class="btn btn-primary " ng-click="redirect('/region-list')">List</i></button>
			<button class="btn btn-primary " ng-click="redirect('/')">Map</i></button>
			<button class="btn btn-primary " ng-click="redirect('/gear')">Gear</i></button>
			<button class="btn btn-primary " ng-click="redirect('/about')">About</i></button>
		</div>         
		