<div class="nav-item text-center">
   <img class="footer-img" src="img/icons/icon_obs.png" ng-click="redirect('/Observation')" />
</div>

<div class="nav-item text-center">
   <img class="footer-img" src="img/icons/icon_map.png" ng-click="redirect('/')" />
</div>
<div class="nav-item text-center">
   <img class="footer-img" src="img/icons/icon_gear.png" ng-click="redirect('/gear')" />
</div>
<div class="nav-item text-center">
   <img class="footer-img" src="img/MEC_Logo.png" ng-click="openMec()" />
</div>
