
<script type="text/ng-template" id="modalObsChoice.html">
<div class="modal-header">
<h3>View or Submit?<h3>
</div>
<div ="modal-body">
   <div class="modal-body-content">
   <img src="img/icons/icon_obs_blank.png" ng-click="redirect('/ObservationViewMap')" /><p ng-click="redirect('/ObservationViewMap')">View Observations</p>
   <img src="img/icons/icon_camera_blank.png" ng-click="redirect('/ObservationSubmit')" /><p ng-click="redirect('/ObservationSubmit')">Submit Photo</p>
   </div>
</div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>

</script>

<div class="nav-item text-center">
   <img class="footer-img" src="img/icons/icon_obs.png" ng-click="loadObsChoice()" />
</div>

<div class="nav-item text-center">
   <img class="footer-img" src="img/icons/icon_map.png" ng-click="redirect('/')" />
</div>
<div class="nav-item text-center">
   <img class="footer-img" src="img/icons/icon_gear.png" ng-click="redirect('/gear')" />
</div>
<div class="nav-item text-center">
   <img class="footer-img" src="img/MEC_Logo.png" ng-click="openMec()" />
</div>
