<img class="header-img" src="img/CAC_Logo_White.png" />
<div class="pull-right">

  <script type="text/ng-template" id="signIn_modal.html">
    <div class="modal-header">
        <h3>Sign In</h3>
    </div>

    <div class="modal-body">

        <div class="control-group">
           <label class="control-label" for="email">Email</label>
           <div class="controls">
              <input type="text" ng-model="sessionParams.email" name="email" />
           </div>
        </div>

        <div class="control-group">
           <label class="control-label" for="password">Password</label>
           <div class="controls">
              <input type="{{plainText}}" ng-model="sessionParams.password" name="password" />
           </div>
           <div class="controls">
                         Show <input type="checkbox" ng-model="plainText"
                         ng-true-value="text" ng-false-value="password">
                         </div>
        </div>

        <p ng-controller='NavCtrl'>No account yet? <a ng-click="openUrl('http://obsnet.avalanche.ca/#/register')">Register now!</a></p>

        <div ng-show="alert">
          <alert type="alert.type">{{alert.msg}}</alert>
        </div>

    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>

  </script>
  <i ng-show="!signedIn" ng-click="openSignInModal()" class="header-icon glyphicons-icon white log_in" ng-click="redirect('/about')"></i>
  <i ng-show="signedIn" ng-click="signOut()" class="header-icon glyphicons-icon white log_out" ng-click="redirect('/about')"></i>
  <i class="header-icon glyphicons-icon white circle_info" ng-click="redirect('/about')"></i>

</div>
